/******* RESPONSIVE *******/

/* Smartphone */
@media screen and (max-width: 375px){
  .computer, .user_bar, .sous-menu{
    display: none;
  }
  .mobile, .mobile-menu{
    display: block;
  }
  .mobile{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    border-bottom: 2px solid #E2E2E2;
  }
  .mobile nav:hover{
    cursor: pointer;
  }
  .mobile ul:first-child{
    padding-left: 20px;
  }
  .mobile .sous-menu{
    position: fixed;
    width: 100%;
    z-index: 110;
    margin-top: 15px;
    padding: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #E2E2E2;
  }
  .mobile .sous-menu li{
    margin-left: 0;
    padding: 10px 30px 10px 10px;
    border: 1px solid #E2E2E2;
  }
  .mobile .sous-menu li:hover{
    background-color: #DC7D2F;
    color: #fff;
  }
  .mobile a{
    width: 15%;
    height: 40px;
    margin: 0 25%;
    background-image: url({../img/Logo_small.jpg});
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .mobile img{
    width: 10%;
    margin: 5px 15px 5px 0;
    border-radius: 50%;
    border: 1px solid #D2D2D2;
    float: right;
  }
  .mobile nav, .mobile a, .mobile img{
    display: inline-block;
    vertical-align: middle;
  }
  .content{
    margin: 0 auto;
  }
  .content h1{
    margin-top: 20%;
  }
  .left{
    margin: 0 auto 20px auto;
  }
  .left .profiles div{
    display: block;
    width: 95%;
  }
  .left .profiles div:first-child, .left .profiles div:nth-child(2){
    margin-right: 0;
    margin-bottom: 10px;
  }
  .left .profiles div img{
    width: 30%;
    margin-right: 20px;
  }
  .stats_members img{
    width: 85%;
  }
  .right{
    position: relative;
    top: auto;
    right: auto;
    margin: 0 auto;
  }
  .left, .right{
    width: 90%;
  }
  .calendar img{
    width: 90%;
  }
  .news{
    width: auto;
    height: auto;
    overflow: inherit;
    margin-bottom: 20px;
  }
}