/******* RESPONSIVE *******/

@media screen and (max-width: 1279px){
  /****** TEAM *****/
  .left .profiles .formation{
    text-align: center;
  }
  .left .team .profiles div{
    display: block;
    width: 95%;
  }
  .left .team .profiles div:first-child, .left .team .profiles div:nth-child(2){
    margin-right: 0;
    margin-bottom: 10px;
  }
  .left .team .profiles div img{
    margin-right: 20px;
  }
  /****** TO-DO LIST ******/
  .container__horizontal{
    display: block;
  }
  .width--70{
    width: 90%;
    margin: 0 5%;
    border-right: none;
  }
  .container__horizontal h3, .container__horizontal .checkbox{
    display: inline-block;
    vertical-align: middle;
  }
  .container__horizontal h3{
    width: 70%;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px){
  .members_page .team div div, .members div div{
    display: inline-block;
    width: 32%;
    vertical-align: top;
    margin: 0 2.5px 5px 2.5px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1279px){
  .computer li{
    text-align: center;
  }
  .computer li span, .computer li:last-child span{
    display: none;
  }
  .computer li img{
    margin-right: 10px;
    width: 30%;
  }
  .team .profiles button{
    width: 50%;
  }
  .right{
    width: 27%;
  }
}

@media screen and (max-width: 800px){
  .computer, .user_bar, .sous-menu{
    display: none;
  }
  .mobile, .mobile-menu{
    display: block;
  }
  .mobile{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    border-bottom: 2px solid #E2E2E2;
  }
  .mobile nav:hover{
    cursor: pointer;
  }
  .mobile ul:first-child{
    padding-left: 20px;
  }
  .mobile .sous-menu{
    position: fixed;
    width: 100%;
    z-index: 110;
    margin-top: 15px;
    padding: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #E2E2E2;
  }
  .mobile .sous-menu li{
    margin-left: 0;
    padding: 10px 30px 10px 10px;
    border: 1px solid #E2E2E2;
  }
  .mobile .sous-menu li:hover{
    background-color: #DC7D2F;
    color: #fff;
  }
  .mobile a{
    width: 15%;
    height: 40px;
    margin: 0 25%;
    background-image: url({../img/Logo_small.jpg});
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .mobile img{
    margin: 5px 15px 5px 0;
    border-radius: 50%;
    border: 1px solid #D2D2D2;
    float: right;
  }
  .mobile nav, .mobile a, .mobile img{
    display: inline-block;
    vertical-align: middle;
  }
  .content{
    margin: 0 auto;
  }
}

/* Tablette */
@media screen and (min-width: 480px) and (max-width: 800px){
  .mobile img{
    width: 5%;
  }
  .content{
    width: 90%;
  }
  .content h1{
    margin-top: 10%;
  }
  .left{
    margin-left: 0;
    width: 65%;
  }
  .left .profiles div{
    text-align: center;
  }
  .left .profiles div img{
    width: 20%;
  }
  .left .profiles p{
    text-align: justify;
    padding: 5px 15px;
  }
  .team .profiles button{
    width: 60%;
  }
  .right{
    top: 16%;
    right: 5%;
    width: 30%;
  }
  .news button, .button__add{
    width: 75%;
  }
  .button__add{
    margin: 5% 3%;
  }
  /****** Members page ******/
  .members_page{
    width: 100%;
  }
  .members_page .team div div, .members div div{
    display: inline-block;
    width: 48%;
    margin: 0 2.5px 5px 2.5px;
  }
}

/* Smartphone */
@media screen and (max-width: 479px){
  .mobile img{
    width: 10%;
  }
  .content h1{
    margin-top: 20%;
  }
  .left{
    margin: 0 auto 20px auto;
  }
  .left .profiles div img{
    width: 30%;
  }
  .right{
    position: relative;
    top: auto;
    right: auto;
    margin: 0 auto;
  }
  .left, .right{
    width: 90%;
  }
  .calendar img{
    width: 90%;
  }
  .news{
    width: auto;
    height: auto;
    overflow: inherit;
    margin-bottom: 20px;
  }
  .news button, .button__add{
    width: 70%;
  }
  /****** Members page ******/
  .members_page{
    width: 100%;
  }
  .members_page h1{
    font-size: 2rem;
  }
  .members_page .team div div, .members div div{
    display: block;
    width: 90%;
    margin: 0 auto 5px auto;
  }
}
