/****** NEWS PAGE ******/
.news_page{
  position: absolute;
}
.all_news{
  width: 85%;
  margin: 0 auto 20px auto;
}
.news_categories{
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid #E2E2E2;
  background-color: #FFF;
}
.news_categories h2{
  border-bottom: 2px solid #E2E2E2;
  padding: 20px 0;
  margin: 0;
}
.news_categories button{
  margin: 20px 30px;
  background-color: #FFF;
  padding: 0;
}
.news_categories button:hover{
  cursor: pointer;
  color: #DC7D2F;
  -moz-animation : change_font_color 0.5s;
  -webkit-animation: change_font_color 0.5s;
  animation: change_font_color 0.5s;
}
.all_news > div:nth-child(2){
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.all_news .news_infos{
  width: 33%;
  border: 1px solid #E2E2E2;
  background-color: #FFF;
  margin-bottom: 5px;
  text-align: justify;
}
.all_news .news_infos h3{
  padding: 0 10px;
}
.all_news .news_img{
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.all_news span{
  font-weight: bold;
}
.all_news .news_date{
  text-align: center;
}
.all_news .news_infos p{
  padding: 0 20px;
}
.news_infos:first-child{
  position: relative;
  background-image: url(../asset/img/add_news.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}
.news_infos:first-child button{
  position: absolute;
  top: 30%;
  width: 90%;
  margin: 0 5%;
  padding: 10px 0;
  border-radius: 20px;
  border: 2px solid #FFF;
  background-color: orange;
  color: #FFF;
}
.news_infos:first-child button:hover{
  background-color: #FFF;
  color: orange;
  border-color: orange;
  -moz-animation : change_button_color 0.5s;
  -webkit-animation: change_button_color 0.5s;
  animation: change_button_color 0.5s;
}
.buttons_news{
  width: 100%;
  text-align: center;
  margin: 30px 0;
}
.buttons_news button{
  display: inline-block;
  width: 40%;
  background-color: #FFF;
}
.buttons_news img{
  width: 90%;
}
.add_news .popUp__form, .modify_news .popUp__form{
  width: 50%;
  margin-left: -20%;
  margin-top: -25%;
}
.add_news .popUp__container, .modify_news .popUp__container{
  text-align: center;
}
.add_news .popUp__Add, .modify_news .popUp__Add{
  padding: 5px;
}

/******* RESPONSIVE *******/

@media screen and (min-width: 801px) and (max-width: 1024px){
  .news_categories button{
    margin: 20px 5px;
  }
  .all_news > div:nth-child(2) > div{
    width: 49.5%;
  }
}

@media screen and (max-width: 800px){
  .news_page{
    width: 100%;
  }
  .news_categories button{
    width: 100%;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #E2E2E2;
  }
  .all_news .news_infos{
    width: 100%;
  }
  .news_infos:first-child{
    height: 500px;
  }
}

/******* ANIMATIONS *******/

@keyframes change_font_color {
  0%{
    color: #000;
  }
  100%{
    color: #DC7D2F;
  }
}

@keyframes change_button_color{
  0%{
    color: #FFF;
    background-color: orange;
    border-color: #FFF;
  }
  100%{
    color: orange;
    background-color: #FFF;
    border-color: orange;
  }
}
